body {
  background-color: cadetblue;
  font-family: Times "Times New Roman", Times, serif, Arial, Helvetica,
    sans-serif;
  cursor: cell;
}
img {
  border: 3px solid;
  border-color: rgb(72, 210, 30);
  border-radius: 8px;
  box-align: center;
}
#Name {
  text-align: center;
}
